/*CSS variables section*/
:root {
    
color:white;
}

/*Extra Large screens - Extra large desktops*/

/*General CSS and CSS reset*/

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
}
section{
    margin-top: 46px;
    background-image: url("assets/images/stars.png");
}

.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #333;
    color: white;
    margin-bottom: 100px;
    padding: 200px 0;
    position: relative;
}
    
.video-bg {
    position: absolute;
    top: 0;
    left: 0;
    
}    
    

    
}
.hero-text{
    background-color: rgba(4,7,32,0.5);
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    color:white;
    
    text-shadow: 8px 10px 10px #000000;
    border-top:none;
    border-bottom: none;
    padding: 90px 40px;
    text-transform: uppercase;
    font-size: 80px;
    font-weight: 800;
    
}
.about{
    
    height: 700px;
    background-image: url("https://user-images.githubusercontent.com/98966871/166694428-7b578c39-08f0-4aa6-b20e-8193bd35deab.png");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    background-position: center;
    

    
}
.icons{
    font-size: 20px;
    letter-spacing: 5px;

}
.title{
    color:white;
    width:100%;
    margin:auto;
    padding:60px 10px;
    font-size: 50px;
    font-weight: 600;
    margin-left: 10%;;
    text-transform: uppercase;
    width: 80%; 
    
}
.about-main{
    width: 90%;
     
    margin: auto;
    display: flex;
    justify-content: space-between;
    
}
.about-text{
    background-color: rgb(16, 19, 47);
    padding: 30px ;
    width:500px;
    
}

h3{
    font-size: 40px;
    
    font-weight: 600;
    
}
.service{
    padding-bottom: 100px;
    background-color: black;
    overflow: hidden;
}
.card{
    width:80%;
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: auto;
    overflow: hidden;
}
.card-list{
    width:300px;
    margin-top: 50px;
    overflow: hidden;

}

.card-image{
    width:100%;
    height: 400px;

}
.card-image img{
    width:100%;
    height: 100%;
    object-fit: cover;
}
.card-text{
    width:90%;
    
}
.testimony{
    padding-bottom: 150px;
    background-color: #0a0c0f;;
    overflow: hidden;

}
.testimony-main{
    display: flex;
    flex-wrap: wrap;
    flex:1 1 ;
    width:70%;
    margin: auto;
    justify-content: space-evenly;
    margin-top: 50px;
    
}
.testimony-image{
    width:380px;
    height: 300px;
    margin-left: 40px;

}
.testimony-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}
.testimony-text{
    width: 40%;

}
.contact{
    
    background-color: #242526;
    padding-bottom: 150px;
}
.contact-image{
    
    width:500px;
    overflow: hidden;
}
.contact-image img{
    width:100%;
    height: 100%;
    object-fit: contain;
}
.contact-main{
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
}
.contact-form{
    background-color: #eee;
    padding:30px;
}
.input:focus,
textarea:focus{
  outline: 1.5px solid gray;
}

.input,
textarea {
  width: 100%;
  border: 1px solid #bdbdbd;
  border-radius: 5px;
}
form{
    

    display: flex;
    flex-direction: column;
}
.input{
    padding:10px !important;
    margin: 10px 0px;
    height: 45px;
    border:1px solid ;
}
textarea{
    height: 70px !important;
}
.name{
    display: flex;
    justify-content: space-between;
    
}
.name-list
{
    width:48%;

}
.contact-address{
    padding-bottom: 150px;
    background-color: #0a0c0f;;
    overflow: hidden;



}
.contact-address-list{
    display: flex;
    background-color: #0a0c0f;;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
}
.contact-list{
    margin: 20px 0px !important;
}
h4{
    text-transform: uppercase;
}
#navDemo a{
    font-size: 12px;
}


/*MEDIA QUERIES*/
/*Large screens - Desktop*/
@media screen and (min-width: 1700px) {
    section{
        background-color: rgba(4,7,32,0.9);
    }
    .hero{
        
        margin: auto;
        height: 900px;
    }
    .hero-text{
        height: 900px;
    }
    .testimony-main{
        width: 60%;
        justify-content: space-evenly;
   }
   .contact-address-list{
       
       margin: auto;
       width: 70%;
   }
}

/*medium screens - Laptops*/
@media screen and (max-width: 1024px) {
    .hero{
        background-image:url("https://user-images.githubusercontent.com/98966871/161417787-c4c2d137-495b-40c8-8b54-942dda24a6b1.png");
        height: 500px;
        background-position: center;
    }
    .hero-text{
        height: 500px;
    }
    h1{
        font-size: 70px;
    }
    .testimony-main{
        width: 90%;
        justify-content: space-evenly;
   }
}

/*Small screens - tablets*/
@media screen and (max-width: 768px) {
    .hero{
        background-image:url("https://user-images.githubusercontent.com/98966871/161417787-c4c2d137-495b-40c8-8b54-942dda24a6b1.png");
        height: 600px;
        background-position: center;
    }
    .hero-text{
        height: 600px;
    }
    h1{
        font-size: 60px;
    }
    .about{
        overflow: hidden;
    }
    .about-text{
        background-color: rgba(4,7,32,.5);
        
    }
    .card{
        width: 90%;;
    }
    .card-list{
        width: 250px;
    }
    .title{
        font-size: 36px;
    }
}

/*Extra small screens - phones*/
@media screen and (max-width: 480px) {
    .hero{
        background-image:url("https://user-images.githubusercontent.com/98966871/161417787-c4c2d137-495b-40c8-8b54-942dda24a6b1.png");
        height: 500px;
        background-position: center;
        

    }
    .hero-text{
        height: 500px;
    }
    h1{
        font-size: 40px;
    }
    .about-text{
        background-color: rgba(4,7,32,.3);
        
    }
    .title{
    font-size: 30px; 
    padding:30px 10px;  
    
    }
    h3{
        font-size: 25px;
    }
    .about{
        height: 500px;;
        overflow: hidden;
        background-position-x:left ;
    
    }
    .card{
        width: 100%;;
    }
    .card-list{
        width: 300px;
    }
    .testimony-main{
        justify-content: center;
    }
    .testimony-text{
        width: 80%;
    }
    .testimony-image{
        margin-left:0px;
        width:300px;
    }
    .contact-main{
    width: 90%;
    margin:auto;    
    }
    .name{
        flex-direction: column;
    }
    .name-list{
        width: 100%;
    }
    .contact-form{
        width: 100%;
    }
    .contact-list{
        width:80%;
        border:1px solid rgb(77, 72, 72);
        padding:20px;
        border-radius: 10px;

    }.contact-list p{
        font-size: 13px;
    }
}
